<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/durian"
        android:label="Fruit Recognition"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLWithTensorFlowLite"
        android:usesCleartextTraffic = "true">

        <activity android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ListFruit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailFruits"
            android:parentActivityName=".ListFruit" />
        <activity
            android:name=".PriceFruit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatFruit"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
    </application>

</manifest>